{% extends 'google/home.html' %}


{% block content %}
          
	{% if messages %}
	{% for msg in messages %}

		<div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 50%; margin: auto;">
			<strong>{{ msg }}.</strong>
			<div class="align-middle">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>

	{% endfor %}
	{% endif %}

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your gmail address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3" style="margin: auto;">
                <label for="exampleInputPassword1" class="form-label">Gmail</label>
                <input name="email" placeholder="gmail" style="width: 50%;" type="email" class="form-control">
            </div>                   
            <button class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div> 

{% endblock %}