{% extends 'google/home.html' %}


{% block content %}
          
	{% if messages %}
	{% for msg in messages %}

		<div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 50%; margin: auto;">
			<strong>{{ msg }}.</strong>
			<div class="align-middle">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>

	{% endfor %}
	{% endif %}


	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Enter A New Password</h2>
		<hr>
		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <p>
            <strong>Note</strong> :<br>
            &nbsp;&nbsp;&nbsp; Your password can't be too similar to your other personal information.<br>
            &nbsp;&nbsp;&nbsp; Your password must contain at least 8 characters.<br>
            &nbsp;&nbsp;&nbsp; Your password can't be a commonly used password.<br>
            &nbsp;&nbsp;&nbsp; Your password can't be entirely numeric.<br>
        </p>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3" style="margin: auto;">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="new_password1" placeholder="password" style="width: 50%;" type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3" style="margin: auto;">
                <label for="exampleInputPassword1" class="form-label">Conform Password</label>
                <input name="new_password2" placeholder="password" style="width: 50%;" type="password" class="form-control" id="exampleInputPassword1">
            </div>

            
            <button class="btn btn-primary" type="submit">Change Password</button>
        </form>
  	</div> 

{% endblock %}