{% extends 'google/home.html' %}


{% block content %}
          
	{% if messages %}
	{% for msg in messages %}

		<div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 50%; margin: auto;">
			<strong>{{ msg }}.</strong>
			<div class="align-middle">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>

	{% endfor %}
	{% endif %}


	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Password Reset Completed</h2>
		<hr>
		<p>Your password has been set. You may go ahead and log in now.</p>
        <a style="text-decoration: none; font-size: 20px;" href="{% url 'login-page' %}"><strong>Login In</strong></a>
  	</div> 

{% endblock %}