{% extends 'google/home.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
</head>
<body>
  {% if messages %}
  {% for msg in messages %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 50%; margin: auto;">
      <strong>{{ msg }}.</strong>
      <div class="align-middle">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

  {% endfor %}
  {% endif %}
    
    <form method="post" style="height: 500; width: 400;">
        {% csrf_token %}
          <h3>Login Here</h3>
    
          <label for="username" class="plc-label">Username</label>
          <input type="text" id="username" name="username">
    
          
          <label for="password" class="plc-label">Password</label>
          <input type="password" id="password" name="password">
          
    
          <button class="btn btn-light submit-button">Log In</button>

        <div class="font">
          <a href="{% url 'register-page' %}">Signup</a><br>
          <a href="{% url 'change-password' %}">Forgot Password?</a>
        </div>
      </form>

    {% endblock %}
</body>
</html>