{% extends 'google/home.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block content %}
	{% load static %}
	<title>Login V16</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	{% if messages %}
	{% for msg in messages %}
  
	  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: auto; margin: auto; overflow: visible;">
		<strong>{{ msg }}.</strong>
		<div class="align-middle">
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

	  </div>
  
	{% endfor %}
	{% endif %}
	
	
	<form method="post">
		{% csrf_token %}
	<div class="login-block">
		<h1>Login</h1>
		<input type="text" value="" placeholder="Username" id="username" name="username"/>
		<input type="password" value="" placeholder="Password" id="password" name="password"/>
		<button type="submit">Submit</button>
		<a class="sign-up-link" href="{% url 'register-page' %}" >Sign Up</a><br>
		<a class="forgot-p-link" href="{% url 'change-password' %}" >Forgot Password?</a>
	</div>
	
	</form>
	


	{% endblock %}
</body>
</html>