{% extends 'google/home.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}History{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/history.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    {% if messages %}
        {% for msg in messages %}

          <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 50%; margin: auto;">
            <strong>{{ msg }}.</strong>
            <div class="align-middle">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>

        {% endfor %}
      {% endif %}
    

    <div class="shadow-lg p-3 rounded cont">
        <div class="card-header">
            <div class="details">    
                <p><strong>{{ user }}</strong><br>{{ user.email }}</p>
            </div>
            
            <div class="dropdown" style="display: inline;">
                <button class="btn btn-primary dropbtn">more</button>
                <div class="dropdown-content">
                    <a href="{% url 'conformation-page' 'clear-all' %}">clear all</a>
                    {% if not history_status %}
                        <a href="{% url 'conformation-page' 'freeze-history' %}">freeze history</a>
                    {% else %}
                        <a href="{% url 'conformation-page' 'unfreeze-history' %}">unfreeze history</a>
                    {% endif %}
                </div>
            </div>
            
            
               
        </div>

        <ul class="list-group list-group-flush">

            {% for search in searchs %}
                <li class="list-group-item">{{search.date}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ search }}
                    <form method="post">
                        {% csrf_token %}
                        <input name="{{ search.id }}" type="image" class="trash" src="{% static 'img/trash.svg' %}">
                    </form>
                </li>
            {% endfor %}

        </ul>
          


    </div>

</body>
</html>

    {% endblock %}


