.nav-url {
    padding: 30px;
    padding-top: 5px;
    text-decoration: none;
}

.nav-url-div {
    margin: auto;
    padding-top:10px ;
}

.title-url {
    text-decoration: none;
}

body {
    background-color: black;
}

.img-url {
    color: white;
}


